@charset "UTF-8";

div.main_nav_div {
	margin-bottom: 100px
}

div.nav_bg1 {
	background: linear-gradient(to right, #aa4b6b43, #6b6b8343, #3b8d9943);
}

div.nav_bg2 {
	background: linear-gradient(to right,#dba53043, #ffd20043);
}

div.nav_bg3 {
	background: linear-gradient(to right, #0b6d8a43, #1cefff43);
}

#main_nav_purple li {
	margin-right: 30px;
}

.nav_bg1 #main_nav_purple li:hover {
	color: rgb(182, 107, 152);
	cursor: pointer;
}

.nav_bg2 #main_nav_purple li:hover {
	color: rgb(219, 165, 48);
	cursor: pointer;
}

.nav_bg3 #main_nav_purple li:hover {
	color: rgb(11, 109, 138);
	cursor: pointer;
}

div.mid_80header {
	width: 65%;
	margin: auto;
	padding-top: 40px;
	padding-bottom: 10px;
}

div.sub_nav {
	width: 60%;
	margin: auto;
	padding-top: 20px;
	margin-bottom: 90px;
	font-size: small;
	position: absolute;
	top: 60px;
	left: 20%
}